<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>López Márquez Abogados - Sobre Nosotros</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <%- include('header') %>

    <main>
        <section class="contenido">
            <h1>Sobre Nosotros</h1>
            <p>En López Márquez Abogados, somos un equipo especializado en derecho laboral comprometido en ofrecer un servicio de asesoría y representación de calidad. Nuestro objetivo es proteger los derechos de nuestros clientes y ofrecer soluciones legales eficaces y personalizadas.</p>
            <p>Contamos con una amplia experiencia en casos laborales y un profundo conocimiento de la legislación en España. Nos esforzamos por brindar un trato cercano y profesional, asegurando la confianza y tranquilidad de nuestros clientes.</p>
        </section>
    </main>

    <%- include('footer') %>
</body>
</html>
