<footer>
    <div class="container">
        <h2>Contacto</h2>
        <p><i class="fas fa-envelope"></i> <a href="mailto:lopezmarquezabogados@gmail.com">lopezmarquezabogados@gmail.com</a></p>
        <p><i class="fas fa-phone-alt"></i> <a href="tel:+34695802513">+34 695802513</a></p>
        <p><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/lopez_marquez_abogados" target="_blank">@lopez_marquez_abogados</a></p>
        <p><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/company/l%C3%B3pez-m%C3%A1rquez-abogados" target="_blank">López Márquez Abogados</a></p>
    </div>
</footer>
