<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>López Márquez Abogados - Servicios</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <%- include('header') %>

    <main>
        <section class="contenido">
            <h1>Servicios</h1>
            <ul>
                <li><strong>Asesoría Laboral:</strong> Proporcionamos asesoría en todos los aspectos relacionados con el derecho laboral, incluyendo despidos, contratos, y resolución de conflictos.</li>
                <li><strong>Representación en Juicios:</strong> Defendemos tus derechos en los tribunales, con un enfoque estratégico y comprometido.</li>
                <li><strong>Negociación de Acuerdos:</strong> Asistimos en la negociación de acuerdos laborales, garantizando condiciones justas y beneficiosas para nuestros clientes.</li>
                <li><strong>Consultoría de Empresa:</strong> Ofrecemos consultoría legal para empresas, ayudando a gestionar aspectos legales y prevenir conflictos laborales.</li>
            </ul>
        </section>
    </main>

    <%- include('footer') %>
</body>
</html>
